{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "global-require": 0,
    "camelcase": 0
  }
}
